.RoomContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    width: 100vw;
    height: 100vh;
    gap: 10px;
}
